@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> CSS STANDARDS
----------------------------------------------------------------
1. Place in appropriate section
2. Add new sections to the Table of Contents as needed
3. Order properties consistently inside each declaration i.e. alphabetically or by function 
4. Declaration selectors should each occupy a new line
5. Enter one new line between rules
6. Enter more than one new line between categories 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Forms
        - Lists
        - Media
        - Tables
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Buttons
        - Header
        - Navigation 
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Alignment	    
        - Color
        - Size

--------------------------------------------------------------*/

/*--------------------------------------------------------------
3.0 - GENERIC
-------------------------------------------------------------- */

*{
	
	-webkit-box-sizing:border-box;
	-mox-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	font-family: 'Montserrat', sans-serif;
	
}






/*--------------------------------------------------------------
4.0 - ELEMENTS 
-------------------------------------------------------------- */


/* -- TYPE-- */ 



header p:first-of-type span {
	font: italic 100 45px/30px 'EB Garmond', serif;
	text-transform: lowercase; /* does text-transfomation not go in the font shorthand? */
}


header p:first-of-type {
	font-size: 90px;
}

header p:first-of-type, a, h2{
	text-transform: uppercase;
}


h2, thead tr{
	font-weight: 300;
	color: #BDBDBD;
	margin-top: 30px;
}

h2, thead tr, td {
	font-size: 15px;
	
}


/* -- TABLE -- */

caption {
	display: none;
}

table {
	margin-top: 90px;
	border-collapse: collapse;
}

td {
	width: 300px;
	padding: 0 10px;
	color: #55636D;
}

tr:nth-child(2),tr:nth-child(4){
	background-color: #F2F2F2;
}

/* -- FORMS -- */

fieldset, input {
	border: none;
	border-bottom: 2px solid black;
}

#first-name, #last-name {
	width: 200px;
	display: inline-block;
}

form {
	padding: 90px;
}

/*--------------------------------------------------------------
5.0 - OBJECTS
-------------------------------------------------------------- */

/* -- FRAMEWORK -- */ 

.wrapper {
	width: 1170px;
}

.row {
	overflow: auto;
}

/*--------------------------------------------------------------
6.0 - COMPONENTS
-------------------------------------------------------------- */

/* -- NAV-- */ 

a {
	text-decoration: none;
}

li {
	
	display: inline-block;
	padding: 2px;
}

nav li:last-child a{
	-moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -o-border-radius: 40px;
    -ms-border-radius: 40px;
    border-radius: 40px;
    border: 2px solid #fff;
	padding: 5px;
  
}

a, header, header p{
	color: #fff;
}
li a:hover, nav li:last-child a:hover {
	color: #000;
}

nav li:last-child a:hover {
	background-color: #fff;
}

/* -- FLOATS -- */ 


#logo, #about, #col-1-3, #col-1-2, #col-1-1-3, #col-1-2-3, #first-name{
	float: left;
}

#take-action, nav, #col-2-3, #col-2-2, #col-1-3-3, #last-name {
	float: right;
}

#logo, nav, #col-1-3 {
	width: 300px;
}

#col-2-3 {
	width: 780px;
}

#col-1-2, #col-2-2 {
	width: 390px;
}

#col-1-1-3, #col-1-2-3, #col-1-3-3 {
	width: 350px;
}

/* -- HEADER -- */ 


.wrapper, li, header, .col-1-2 header, .col-1-2 p, header .wrapper div:last-child, #lead, #col-center, footer {
	text-align: center;
	margin: 0 auto;
	
}

.col-1-2 p, #lead, #col-center, #bg-black {
	padding: 6px;
}

#about, #take-action{
	width: 550px;
}

#col-2-3 li {
	list-style-type: square; /* why can't I see my squares? How do I add tress, is that an image? */
}

#col-2-3, #col-1-3 {
	text-align: left;
}

#col-2-3 p{
	font-family: 'EB Garamond', serif;
}

#col-2-3 p:first-child {
	font-size: 35px;
}
	

/* -- TYPE -- */

#lead {
	margin-top: 70px;
	font: 30px 'EB Garamond', serif;
}

#col-center {
	font: 400 15px 'EB Garamond', serif;
	width: 700px;
	margin-bottom: 60px;
}

#col-center p:last-of-type, #col-center a {
	font-weight: 500;
	font-family: 'EB Garamond', serif;
	text-transform: none;
}


/* -- SPRITE -- */ 

#sprite li:first-child a {
	background: url("../img/sprite-facebook.png") no-repeat 0 0; 
}

#sprite li:nth-child(2) a {
	background: url("../img/sprite-flicker.png") no-repeat 0 0;
}

#sprite li:last-child a {
	background: url("../img/sprite-twitter.png") no-repeat 0 0;
}

#sprite {
	list-style-type: none;
}

#sprite li, li a {
	display: inline-block;
}

#sprite span {
	display: none;
}

#sprite li a {
	width: 20px;
	height: 20px;
}

#sprite li a:hover {
	background-position: 0 -20px;
}

/* -- BACKGROUND -- */ 

#bg-hero {
	background: url(../img/img-hero.jpeg) no-repeat center -275px scroll;
	-webkit-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
	background-size: cover;
	height: 615px;
	
}

#bg-about {
	background: url(../img/img-about.jpeg) no-repeat center -200px scroll;
	-webkit-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
	background-size: cover;
	height: 460px;
	
	
}

#bg-take-action {
	background: url("../img/img-take-action.jpg") no-repeat center -280px scroll;
	-webkit-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
	background-size: cover;
	height: 460px;
	
}

/* -- BUTTON -- */ 
.btn-green {
	-moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    -o-border-radius: 40px;
    -ms-border-radius: 40px;
    border-radius: 40px;
	padding: 10px;
	background-color: #36B3AC;
	width: 200px;
	font: 12px 'Source Sans Pro', sans-serif;

}

.btn-green:hover {
	background-color: #002E2A;
}



/* -- FOOTER -- */ 

footer {
	background-color: #2A938C;
	padding-top: 5px;
}

footer a:hover, #col-center span a:hover {
	color: #002E2A;
}

#bg-black li a, #about, #take-action{
	padding: 30px;
	
}

#bg-black li a {
	font-weight: 300;
	letter-spacing: 4px;
	font-size: 14px;
}
#col-center span, #col-center span a, #col-center a{
	color: #2A938C;
}

#bg-black {
	background-color: #000;
}

